flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a80406ddb0a5bc3e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt://10.61.24.32",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a871cc34bfc4dae3",
        "type": "mqtt-broker",
        "name": "",
        "broker": "wss://rpc-tss-smartfactory.hcilab.net/mqtt",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "2f769e641111f889",
        "type": "websocket-listener",
        "path": "rpc-tss-smartfactory.hcilab.net/mqtt",
        "wholemsg": "false"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "917da9dad3840d90",
        "type": "mqtt in",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "topic": "fibo/sensor/data",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "a80406ddb0a5bc3e",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 520,
        "wires": [
            [
                "38c24e3843fc76f7"
            ]
        ]
    },
    {
        "id": "5c6ffa7e47189900",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "IR1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 360,
        "wires": []
    },
    {
        "id": "38c24e3843fc76f7",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 1",
        "func": "// Expected input payload example:\n// { slot: 3, type: \"Ultrasonic\", data_type: \"Input\", data: 56 }\n\nlet msgOut = null;\n\n// Ensure payload exists\nif (typeof msg.payload === \"object\" && msg.payload.type) {\n    const type = msg.payload.type.toLowerCase();  // normalize text\n    const slot = msg.payload.slot || 0;\n\n    // === Separate outputs based on sensor type ===\n    switch (type) {\n        case \"ir_distance\":\n            // Example: differentiate multiple IR sensors by slot\n            if (slot === 1) {\n                msg.topic = \"IR_Sensor_1\";\n                msgOut = [msg, null, null, null];\n            } else if (slot === 2) {\n                msg.topic = \"IR_Sensor_2\";\n                msgOut = [null, msg, null, null];\n            }\n            break;\n\n        case \"ultrasonic\":\n            msg.topic = \"Ultrasonic_Trigger\";\n            msgOut = [null, null, msg, null];\n            break;\n\n        case \"color_sensor\":\n            msg.topic = \"Camera_Color\";\n            msgOut = [null, null, null, msg];\n            break;\n\n        default:\n            msg.topic = \"Unknown\";\n            msgOut = [null, null, null, null];\n            break;\n    }\n}\n\n// Output order:\n// [0] → IR node 1\n// [1] → IR node 2\n// [2] → Ultrasonic\n// [3] → Camera Color\nreturn msgOut;\n",
        "outputs": 4,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 520,
        "wires": [
            [
                "5c6ffa7e47189900",
                "05b75952ee22c5ce"
            ],
            [
                "c691878a4b66281b",
                "5a9e62c3b4947177"
            ],
            [
                "8301649b58fbd4c9"
            ],
            [
                "3a7db6fd18141bd4"
            ]
        ]
    },
    {
        "id": "c691878a4b66281b",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "IR2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 670,
        "y": 460,
        "wires": []
    },
    {
        "id": "8301649b58fbd4c9",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Ultrasonic",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 560,
        "wires": []
    },
    {
        "id": "3a7db6fd18141bd4",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "Camera_color",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 700,
        "y": 600,
        "wires": []
    },
    {
        "id": "ea6451c7705bfc8f",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Servo",
        "topic": "fibo/sensor/cmd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a80406ddb0a5bc3e",
        "x": 850,
        "y": 400,
        "wires": []
    },
    {
        "id": "05b75952ee22c5ce",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 2",
        "func": "// Expecting input payload like: { slot: 1, type: \"IR_distance\", data_type: \"Input\", data: 0 or 1 }\n\n// Extract IR value\nlet irValue = msg.payload.data;\n\n// Create command message\nlet servoMsg = {};\n\nif (irValue == 1) {\n    // Object detected\n    servoMsg = { \"servo\": 1, \"angle\": 90 };\n} else {\n    // No object\n    servoMsg = { \"servo\": 1, \"angle\": 0 };\n}\n\n// Replace original payload with servo command\nmsg.payload = servoMsg;\n\n// Optionally change topic for clarity\nmsg.topic = \"servo_control\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 400,
        "wires": [
            [
                "ea6451c7705bfc8f"
            ]
        ]
    },
    {
        "id": "c366dc97586e2e51",
        "type": "mqtt out",
        "z": "f6f2187d.f17ca8",
        "name": "Servo",
        "topic": "fibo/sensor/cmd",
        "qos": "0",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "a80406ddb0a5bc3e",
        "x": 850,
        "y": 500,
        "wires": []
    },
    {
        "id": "5a9e62c3b4947177",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "function 3",
        "func": "// Expecting input payload like: { slot: 1, type: \"IR_distance\", data_type: \"Input\", data: 0 or 1 }\n\n// Extract IR value\nlet irValue = msg.payload.data;\n\n// Create command message\nlet servoMsg = {};\n\nif (irValue == 1) {\n    // Object detected\n    servoMsg = { \"servo\": 2, \"angle\": 0 };\n} else {\n    // No object\n    servoMsg = { \"servo\": 2, \"angle\": 180 };\n}\n\n// Replace original payload with servo command\nmsg.payload = servoMsg;\n\n// Optionally change topic for clarity\nmsg.topic = \"servo_control\";\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 500,
        "wires": [
            [
                "c366dc97586e2e51"
            ]
        ]
    }
]
